* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  rgb(220, 214, 196);
}

h1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    padding-right: 10px;
    font-size: 30px;
}

header a {
    text-decoration: none;
    color: rgb(30, 35, 38);
    font-size: 30px;
    border-bottom: solid rgb(30, 35, 38) 5px
}

footer a {
    text-decoration: none;
    color: rgb(30, 35, 38);
    border-bottom: solid  rgb(30, 35, 38) 2px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;   
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

header, footer {
    height: 100px;
}

.hero {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("../images/Hero-Image-2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 700px;
    z-index: 1;
}

.profile-img {
    background-image: url("../images/Me.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 200px; 
    border: solid 5px;
    min-width: 300px;
    min-height: 300px;
    z-index: 2;
    margin: 0 10px 10px 0;
}

.profile-img:hover {
    background-image: url("../images/vacation.jpg");
    transition: 10s;
}

.about-me {
    height: 300px;
}

h2 {
    display: flex;
    justify-content: flex-end;
    width: 15%;
    border-right: solid  rgb(30, 35, 38);
    overflow: hidden;
    padding-right: 10px;
    font-size: 30px;
}

.outside-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    margin: 10px 0px 10px 0px;
}

.inside-flex {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 100%;
}

.work {
    height: 500px;
}

.work .inside-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

.grid-item1 {
    display: flex;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    border: solid  rgb(30, 35, 38);
    opacity: .6;
    transition: 1s;
}

.grid-item2 {
    display: flex;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    border: solid  rgb(30, 35, 38);
    opacity: .6;
    transition: 1s;
}

.grid-item1 p {
    margin-top: 50px;
    padding: 10px;
    position: absolute;
    background-color:  rgb(30, 35, 38);
    color: rgb(220, 214, 196);
}

.link {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 100%;
    text-decoration: none;
}

.link2 {
    background-image: url("../images/Untitled.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 100%;
    text-decoration: none; 
}

.grid-item2 p {
    margin-top: 50px;
    padding: 10px;
    position: absolute;
    background-color:  rgb(30, 35, 38);
    color: rgb(220, 214, 196);
}

.grid-item {
    background-image: url("../images/fallout-guy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid  rgb(30, 35, 38);
    opacity: .6;
    transition: 1s;
}

.grid-item p {
    margin-top: 25px;
    padding: 10px;
    position: absolute;
    background-color:  rgb(30, 35, 38);
    color: rgb(220, 214, 196);
}

.grid-item:hover, .grid-item1:hover {
    opacity: 1;
}

@media screen and (max-width: 980px) {

}
@media screen and (max-width: 768px) {
    .hero {
        height: 300px;
        margin: 0 10px;
    }

    h1 {
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .about-me {
        height: 400px;
    }

    h2 {
        width: 100%;
        justify-content: space-around;
        align-items: center;
        border-right: none;
        border-bottom: solid rgb(30, 35, 38);
        margin: 0px 10px 10px 10px;
    }

    .profile-img {
        min-width: 180px;
        min-height: 180px;
    }

    .inside-flex {
        width: 100%;
        padding: 0px 10px;
    }

    footer {
        margin-top: 50px;
    }

    .about-me p {
        font-size: 15px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 575px) {
    header a {
        font-size: 20px;
    }

    .about-me {
        height: 500px;
    }
}

@media screen and (max-width: 415px) {
    .about-me {
        height: 700px;
    }

    p {
        font-size: 14px;
    }

    footer a {
        font-size: 13px;
    }
}